*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
/* debug */
.debug [class*='col-']{
  background-color: blue;
  height: 100px;
  border: 2px solid red;
}
.debug [class*='col-'] .row [class*='col-']{
  background-color: green;
  height: 100px;
  border: 2px solid white;
}
.debug .h_600{
  height: 600px;
}
.debug .h_500{
  height: 500px;
}
.debug .h_400{
  height: 400px;
}
.debug .h_300{
  height: 300px;
}
.debug .h_200{
  height: 200px;
}
.debug .container_h{
  height: 100%;
  background-color: lightgreen;
}
/* classi riutilizzabili */
.bgcol_white{
  background-color: white;
}

.bgcol_grey{
  background-color: rgb(211, 220, 247);
}

.bgcol_lightblue{
  background-color: #015AFF;
}

.bgcol_darkblue{
  background-color: #031B4E;
}

.text_white{
  color: white;
}

.text_grey{
  color: grey;
}

.text_lightblue{
  color: #00d7d2;
}

.text_darkblue{
  color: #031B4E;
}

.text_bold{
  font-weight: bold;
}

.br_radius{
  border-radius: 5px;
}

.margin_bottom_10{
  margin-bottom: 10px;
}

.margin_bottom_30{
  margin-bottom: 30px;
}

.h_100{
  height: 100px;
}

section, footer{
  padding: 50px 0;
}
/* inizio header */
/* inizio navbar */
nav{
  height: 100px;
}

nav [class*='col-'] img{
  height: 30px;
  margin-top: 35px;
}

nav [class*='col-'] li{
  color: #031B4E;
  height: 100px;
  line-height: 100px;
  font-size: 15px;
  font-weight: bold;
  text-align: center;
  padding-right: 10px;
  display: inline-block;
}

nav [class*='col-'] li a.btn{
  color: #015AFF;
  border: 2px solid #015AFF;
}

nav button{
  float: right;
  margin: 35px 0;
}
/* fine navbar */

/* inizio jumbotron */
.jumbotron{
  padding: 10px;
  background-image: url('../img/bg-home-1.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

.jumbotron h1{
  color: white;
  font-weight: bold;
}

.jumbo_dx h2{
  font-weight: bold;
}

.jumbo_dx div, .jumbo_dx div input, .jumbo_dx div a{
  width: 100%;
  font-weight: bold;
}

 .jumbo_dx .google_signup::before{
  content: '';
  display: block;
  width: 25px;
  height: 25px;
  position: absolute;
  background-image: url('../img/gmail.jpg');
  background-size: cover;
 }
/* fine jumbotron */
/* fine header */


/* inizio main */
/* inizio section_1 */
section#section_1 [class*='col-'] .row [class*='col-']{
  max-height: 100px;
}

section#section_1 [class*='col-'] .row [class*='col-'] img{
  width: 100%;
  transform: translateY(-50%);
  margin: 20px 0;
}

section#section_1 [class*='col-'] a{
  font-size: 20px;
}
/* fine section_1 */

/* inizio section_2 */
section#section_2 [class*='col-'] ul li{
  text-decoration: none;
  border-left: 2px solid grey;
  padding: 10px;
  list-style-type: none;
  color: grey;
}

section#section_2 [class*='col-'] .row [class*='col-'] img{
  height: 30px;
  width: 30px;
}

section#section_2 p{
  color: grey;
}
/* fine section_2 */

/* inizio section_3 */
section#section_3 .schermate .row{
  height: 100%;
}

section#section_3 [class*='col-'] .row .screenshot{
  width: 60%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

section#section_3 [class*='col-'] .row [class*='col-'] img{
  width: 100%;
}

section#section_3 .freccie{
  position: relative;
  height: 100%;
}

section#section_3 [class*='col-'] .row [class*='col-'] i.fa-chevron-left{
  position: absolute;
  left: 15%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-size: 50px;
}

section#section_3 [class*='col-'] .row [class*='col-'] i.fa-chevron-right{
  position: absolute;
  right: 10%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-size: 50px;
}

@media screen and (max-width: 767px){
  section#section_3 .schermate{
    height: 200px;
  }

  section#section_3 [class*='col-'] .row [class*='col-'] img{
    width: 80%;
  }
}

@media screen and (min-width: 768px){
  section#section_3 .schermate{
    height: 275px;
  }
}

@media screen and (min-width: 992px){
  section#section_3 .schermate{
    height: 400px;
  }
}

@media screen and (min-width: 1200px){
  section#section_3 .schermate{
    height: 400px;
  }

  section#section_3 [class*='col-'] .row [class*='col-'] img{
    width: 90%;
  }
}
/* fine section_3 */

/* inizio section_4 */
/* fine section_4 */

/* inizio section_5 */
section#section_5{
  background-image: linear-gradient(rgb(28, 47, 245), rgb(13, 10, 166));
}

.sez_5_griglia{
  width: 100%;
  padding: 0 10px;
  border-bottom: 2px solid grey;
}

.sez_5_griglia *{
  display: inline-block;
}

.sez_5_griglia p{
  padding-left: 40px;
}

.sez_5_griglia a{
  float: right;
}
/* fine section_5 */

/* inizio section_6 */
section#section_6 .schermate .row{
  height: 100%;
}

section#section_6 [class*='col-'] .row .screenshot{
  width: 60%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

section#section_6 [class*='col-'] .row [class*='col-'] img{
  width: 100%;
}

section#section_6 .freccie{
  position: relative;
  height: 100%;
}

section#section_6 [class*='col-'] .row [class*='col-'] i.fa-chevron-left{
  position: absolute;
  left: 15%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-size: 50px;
}

section#section_6 [class*='col-'] .row [class*='col-'] i.fa-chevron-right{
  position: absolute;
  right: 10%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-size: 50px;
}

@media screen and (max-width: 767px){
  section#section_6 .schermate{
    height: 200px;
  }

  section#section_6 [class*='col-'] .row [class*='col-'] img{
    width: 80%;
  }
}

@media screen and (min-width: 768px){
  section#section_6 .schermate{
    height: 275px;
  }
}

@media screen and (min-width: 992px){
  section#section_6 .schermate{
    height: 400px;
  }
}

@media screen and (min-width: 1200px){
  section#section_6 .schermate{
    height: 400px;
  }

  section#section_6 [class*='col-'] .row [class*='col-'] img{
    width: 90%;
  }
}
/* fine section_6 */

/* inizio section_7 */
section#section_7{
  background-image: linear-gradient(rgb(28, 47, 245), rgb(13, 10, 166));
}
/* fine section_7 */
/* fine main */

/* inizio footer */
footer .row div:first-of-type img, footer .row div:first-of-type strong, footer .row div:first-of-type p,footer .row div:first-of-type div{
  display: block;
}

footer .row [class*='col-'] .social i{
  font-size: 25px;
  padding-right: 20px;
}

footer .row [class*='col-'] a{
  display: block;
  color: grey;
  margin-bottom: 10px;
  font-weight: bold;
}
/* fine footer */
