*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
/* debug */
.debug [class*='col-']{
  background-color: blue;
  height: 100px;
  border: 2px solid red;
}
.debug [class*='col-'] .row [class*='col-']{
  background-color: green;
  height: 100px;
  border: 2px solid white;
}
.debug .h_600{
  height: 600px;
}
.debug .h_500{
  height: 500px;
}
.debug .h_400{
  height: 400px;
}
.debug .h_300{
  height: 300px;
}
.debug .h_200{
  height: 200px;
}
.container_h{
  height: 100%;
  background-color: lightgreen;
}
.debug section, .debug footer{
  padding: 50px 0;
}
/* classi riutilizzabili */
.bgcol_white{
  background-color: white;
}

.bgcol_grey{
  background-color: rgb(203, 203, 203);
}

.bgcol_lightblue{
  background-color: #015AFF;
}

.bgcol_darkblue{
  background-color: #031B4E;
}

.text_white{
  color: white;
}

.text_grey{
  color: grey;
}

.text_lightblue{
  color: #015AFF;
}

.text_darkblue{
  color: #031B4E;
}

.br_radius{
  border-radius: 5px;
}
/* inizio header */
/* inizio navbar */
nav{
  height: 100px;
}

nav [class*='col-'] img{
  height: 30px;
  margin-top: 35px;
}

nav [class*='col-'] li{
  color: #031B4E;
  height: 100px;
  line-height: 100px;
  font-size: 15px;
  font-weight: bold;
  text-align: center;
  padding-right: 10px;
  display: inline-block;
}

nav [class*='col-'] li button{
  color: #015AFF;
  border: 2px solid #015AFF;
}

nav button{
  float: right;
  margin: 35px 0;
}
/* fine navbar */

/* inizio jumbotron */
.jumbotron{
  padding: 10px;
  background-image: url('..img/bg-home-1.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

.jumbotron h1{
  color: white;
  font-weight: bold;
}

.jumbo_dx{
  text-align: center;
}

.jumbo_dx h2{
  font-weight: bold;
}

.jumbo_dx div{
  width: 100%;
  padding-bottom: 10px;
}

.jumbo_dx div button{
  width: 100%;
}

.jumbo_dx div button img{
  height: 20px;
}

/* fine jumbotron */
/* fine header */


/* inizio main */
/* inizio section_1 */
/* WARNING: da togliere...solo x vedere meglio il debug */
.debug main #section_1 [class*='col-'] .row [class*='col-']{
  background-color: green;
  height: 33px;
  border: 2px solid white;
}
/* fine section_1 */

/* inizio section_2 */
/* WARNING: da togliere...solo x vedere meglio il debug */
.debug main #section_2 [class*='col-'] .row [class*='col-']{
  background-color: green;
  height: 25px;
  border: 2px solid white;
}
/* fine section_2 */

/* inizio section_3 */
/* fine section_3 */

/* inizio section_4 */
/* fine section_4 */

/* inizio section_5 */
/* fine section_5 */

/* inizio section_6 */
/* fine section_6 */

/* inizio section_7 */
/* fine section_7 */
/* fine main */

/* inizio footer */
/* fine footer */
